**/bin/
**/obj/
.idea/
.vscode/
.DS_Store
.env
.env.*
!.env.example
**/appsettings.json
**/appsettings.*.json
!**/appsettings.example.json
!**/appsettings.*.example.json
*.user
*.suo
TestResults/
coverage/
